* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  --text-color: #0a2ff1;
  --text-bkg-color: #3ffff3;
  --image-bkg-color: #8a9af1;
}

.main__container {
  width: 55vw;
  margin: 5rem;
}

.title {
  font-size: 7.86rem;
  color: var(--text-color);
}

.title span {
  background-color: var(--text-bkg-color);
}

.subtitle {
  font-size: 3.06rem;
  color: var(--text-color);
  margin: 5rem 0rem;
}

.image {
  width: 40rem;
  height: auto;
}

.image__container {
  position: relative;
}

.fondo {
  position: absolute;
  background-color: var(--image-bkg-color);
  width: 40rem;
  height: 12rem;
  bottom: 0rem;
  left: 0rem;
  z-index: -1;
}
