* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --primary-color: #0a2ff1;
  --secondary-color: #04146c;
  --white: #fff;
}

@font-face {
  font-family: "Coolvetica";
  src: url(./typography/coolvetica-rg.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-light";
  src: url(./typography/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Roboto-regular";
  src: url(./typography/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96rem;
  margin: 0rem auto;
  gap: 5rem;
}

header h1 {
  font-family: "Coolvetica", sans-serif;
  font-size: 12rem;
  font-weight: 400;
  color: var(--primary-color);
  text-align: center;
}

header p {
  font-family: "Roboto-light", sans-serif;
  font-weight: 300;
  font-size: 4rem;
  text-align: center;
  color: var(--secondary-color);
}

.buttons__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

button {
  cursor: pointer;
  border: 3px solid var(--primary-color);
  padding: 1rem 4rem;
  font-family: "Roboto-regular", sans-serif;
  font-weight: 400;
  font-size: 4rem;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-secondary {
  background-color: var(--white);
  color: var(--secondary-color);
}
